<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thefuture.smartwatchdemo">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".PairMonitorService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".trustwifi.TrustWifiActivity"
            android:label="@string/activity_title_trust_wifi"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FindMyPhone.FindMyPhoneAlarmActivity"
            android:label="@string/find_my_phone_alarm"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />

        <service android:name=".FindMyPhone.FindPhoneService" />

        <activity
            android:name=".WhatsNewActivity"
            android:label="@string/card_title_whats_new"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".AboutActivity"
            android:label="@string/activity_about"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity"></activity>
    </application>

</manifest>
